# Ignore R history
.Rhistory

# Ignore all HTML files
*.html

# Ignore everything in data/raw except markdown
data/raw/**/*.*
!data/raw/**/*.md

# Ignore everything in library except markdown
library/**/*.*
!library/**/*.md

# Ignore everything in output microdata except markdown
output/out_model/**/*.*
!output/out_model/**/*.md

# Ignore report files folder
reports/report_files/

# Ignore RStudio project user files
.Rproj.user

# Ignore document formats inside docs/
docs/**/*.pdf
docs/**/*.doc
docs/**/*.docx
docs/**/*.ppt
docs/**/*.pptx.claude/
.claude/
